{% extends 'base.html.twig' %}

{% block body %}


    <div class="container-fluid pt-4">

        <div id="loading">
            <img src="{{ asset('pictures/loader.gif') }}" alt="Website Loader">
        </div>


        <div class="container main">

            <!-- Vertical navbar -->
            {{ include('vertical_nav.html.twig') }}
            <!-- End vertical navbar -->
            <!-- Page content holder -->

            <div class="page-content p-5 text-dark" id="content">

                <h6 class="text-center "><abbr>Modifier le Mix</abbr></h6>

                <div class="container my-4 py-4 shadow rounded">

                    {{ form_start(form) }}

                    {{ form_widget(form) }}
                    {{ form_row(form.imageFile) }}
                    <button class="btn btn__custom">Modifier</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}