{% extends 'base.html.twig' %}

{% block title %} Administration | Jumperpich  {% endblock %}

{% block body %}

    <div class="container-fluid pt-4">

        <div id="loading">
            <img src="{{ asset('pictures/loader.gif') }}" alt="Website Loader">
        </div>

        {% for message in app.flashes('success') %}
                <div class="text-center fixed-bottom alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Succès !</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        {% endfor %}
    </div>

    <div class="container main">

        <!-- Vertical navbar -->
        {{ include('vertical_nav.html.twig') }}
        <!-- End vertical navbar -->
        <!-- Page content holder -->

        <div class="page-content p-5 text-center" id="content">

            <h6><abbr>MIXES EN LIGNE </abbr></h6>

            <div class="mt-4 text-dark">
                <table class="text-center">
                    <thead>
                    <tr>
                        <th><i class="fas fa-headphones-alt"></i></th>
                        <th><i class="far fa-calendar-alt"></i></th>
                        <th><i class="far fa-eye"></i></th>
                        <th><i class="fas fa-download"></i></th>
                        <th><i class="fas fa-wrench"></i></th>
                        <th><i class="fas fa-wrench"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for projet in projets %}
                        <tr>
                            <td><span><i class="fas fa-headphones-alt"></i></span>
                                <b><a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}">{{ projet.title }}</a></b>
                            </td>
                            <td><span><i class="far fa-calendar-alt"></i></span>
                                {{ projet.createdAt | date('Y') }}
                            </td>
                            <td><span><i class="far fa-eye"></i></span>
                                {{ projet.views }}
                            </td>
                            <td><span><i class="fas fa-download"></i></span>
                                {{ projet.downloadcount }}
                            </td>


                            <td><span><i class="fas fa-wrench"></i></span>
                                <a href="{{ path('admin.projet.edit', {'id': projet.id, "slug": projet.slug}) }}"
                                   class="btn btn-primary"><i class="far fa-edit"></i></a></td>

                            <td><span><i class="fas fa-wrench"></i></span>
                                <form method="post" action="{{ path('admin.projet.delete' , {id : projet.id}) }}"
                                      style="display: inline-block"
                                      onsubmit="return confirm('Toute suppression est définitive ! Êtes-vous sûr de vouloir supprimer ce projet ? ')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('authenticate') }}">
                                    <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="container">
                    <div class="pagination mt-4" id="paginate_float">
                        {{ knp_pagination_render(projets) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
