<div class="vertical-nav bg-white main" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center"><img
                    src="{{ asset('pictures/Arnaud.jpg') }}" alt="Arnaud.jpg"
                    width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h4 class="m-0 text-dark">Arnaud</h4>
                <p class="font-weight-light text-muted mb-0"><a href="{{ path('security_logout') }}">
                        <i class="fas fa-sign-out-alt text-primary fa-fw"></i>
                       Logout
                    </a></p>
            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="{{ path('admin.projet.index') }}" class="nav-link text-dark font-italic bg-light" style="{% if current_menu is defined and current_menu == 'administration' %}border-right: 5px solid blue{% endif %}">
                <i class="fas fa-home mr-3 text-primary fa-fw"></i>
                Home
            </a>
        </li>

        <li class="nav-item">

            <a href="{{ path('messages_contact') }}" class="nav-link {% if NewMessages_g.CountMessages() | length > 0 %} text-warning {% else %} text-dark {% endif %} font-italic bg-light" style="{% if current_menu is defined and current_menu == 'messages' %}border-right: 5px solid blue{% endif %}">
                <i class="far fa-envelope mr-3 text-primary fa-fw"></i>
                {{ NewMessages_g.CountMessages() | length }}
                {% if NewMessages_g.CountMessages() | length == 1 %}
                message non lu
                {% elseif NewMessages_g.CountMessages() | length > 1 %}
                messages non lus
                {% else %}message
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('user.projet.create') }}" class="nav-link text-dark font-italic bg-light" style="{% if current_menu is defined and current_menu == 'new' %}border-right: 5px solid blue{% endif %}">
                <i class="fas fa-upload mr-3 text-primary fa-fw"></i>
                Publier
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('tag_index') }}" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-tag mr-3 text-primary fa-fw"></i>
                Tags
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('user.new_pwd') }}" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-key mr-3 text-primary fa-fw"></i>
                Change Password
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('user.editprofile') }}" class="nav-link text-dark font-italic bg-light">
                <i class="far fa-address-card mr-3 text-primary fa-fw"></i>
                Change Informations
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('user.deleteprofile') }}" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-user-times mr-3 text-primary fa-fw"></i>
                Delete compte
            </a>
        </li>
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                Area charts
            </a>
        </li>

    </ul>
</div>
