{% extends 'base.html.twig' %}

{% block title %}Jumperpich | Tags {% endblock %}

{% block body %}


    <div class="container-fluid">

        <div id="loading">
            <img src="{{ asset('pictures/loader.gif') }}" alt="Website Loader">
        </div>

        {% for message in app.flashes('success') %}
            <div class="text-center fixed-bottom alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès !</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}



        <div class="container main">

            <!-- Vertical navbar -->
            {{ include('vertical_nav.html.twig') }}
            <!-- End vertical navbar -->
            <!-- Page content holder -->

            <div class="page-content p-5 text-center" id="content">

                <h6><abbr>Gestions des tags</abbr></h6>


                <div class="mt-4">
                    <table class="text-center text-dark">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th><i class="fas fa-wrench"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tag in tags %}
                            <tr>
                                <td><span><i class="fas fa-headphones-alt"></i></span>
                                    <b>{{ tag.name }}</b>
                                </td>

                                <td><span><i class="fas fa-wrench"></i></span>

                                    <a href="{{ path('tag_edit', {'id': tag.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="pagination">
                    {{ knp_pagination_render(tags) }}
                </div>

                <a href="{{ path('tag_new') }}" class="btn btn__custom mt-4">Ajouter un nouveau tag</a>


            </div>
        </div>
    </div>
{% endblock %}
