{% extends 'base.html.twig' %}

{% block title %} Jumperpich | {% trans %}Les plus populaires{% endtrans %} {% endblock %}

{% block body %}



<div class="container-fluid main">

    <div id="loading">
        <img src="{{ asset('pictures/loader.gif') }}" alt="Website Loader">
    </div>

    <div class="container my-4 py-4 text-center" id="recent">

        <h6><abbr >{% trans %}Les plus Populaires{% endtrans %}</abbr></h6>

        <div class="row mt-4">
            {% for projet in views %}
                <article class="mix col-12 col-md-6 col-lg-4 col-xl-4 article">

                    <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                       title="More details">

                        <figure class="d-block figure">

                            <img class="image w-100 h-auto" {% if projet.filename %} src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('thumb') }}"
                            {% else %} src="{{ 'images/projets/empty.jpg' | imagine_filter('thumb') }}"
                            {% endif %} alt="No thumbnail">

                            <div class="middle">
                                <i class="far fa-play-circle text"></i>
                            </div>

                        </figure>

                    </a>



                    <div class="info infos divider">

                        <div class="row flex-wrap m15">

                            <div class="col-12 mw-100 info_flex">

                                <div class="info__content d-flex align-items-center w-100">

                                    <h1 class="mt-0 pt-0 mb-0 text-uppercase flex-grow-1" style="font-size: 1rem">
                                        <a id='title' href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}">{{ projet.title }}</a>
                                    </h1>
                                    <div class="info__content__buttons align-self-end">
                                        {% for tag in projet.tags %}
                                            <div class="style tag" style="color:{% if tag.id == 1 %}red{% endif %}{% if tag.id == 2 %}orange{% endif %}{% if tag.id == 3 %}#8ee800{% endif %}">
                                                <div>{{ tag.name }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info infos_bis infos">

                        <div class="row flex-wrap m15">

                            <div class="col-12 info_flex mw-100">

                                <div class="info__content d-flex align-items-center w-100">


                                    <h1 class="mt-0 pt-0 mb-0 flex-grow-1" style="font-size: 1rem">
                                        <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                                           title="More details"> {{ projet.views }} <i class="far fa-eye"></i> </a>

                                    </h1>
                                    <div class="info__content__buttons align-self-end">
                                        <div class="style tag_bis">
                                            {{ projet.createdAt | date('Y') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('home') }}" class="btn btn__custom">
                ← {% trans %}Retour{% endtrans %}  </a>
        </div>
    </div>
</div>
{% endblock %}
