{% extends 'base.html.twig' %}

{% block title %} Jumperpich | {% trans %}Les plus populaires{% endtrans %} {% endblock %}

{% block body %}



<div class="container-fluid" style="padding-top: 83px;min-height:100vh">

    <div id="loading">
        <img src="http://www.jaystyle.fr/wp-content/themes/jaystyle/images/loader.gif" alt="Website Loader">
    </div>

    <div class="container my-4 py-4 reveal text-center" id="recent">

        <h6><abbr class="reveal-1">Les plus Populaires</abbr></h6>

        <div class="row mt-4 reveal-2">
            {% for projet in views %}
                <article class="mix col-12 col-md-6 col-lg-4 col-xl-4 stagger cont reveal-1"
                         style="margin-bottom: 30px;text-shadow:0.2rem 0.2rem 1rem #fff">
                    <a class="link" href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                       title="More details">

                        <figure style="display: block;padding: 10px;margin-bottom: 5px;background: #2c2c2c;">
                            <div class="" style="">
                                <img class="image" {% if projet.filename %}
                                    src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('thumb') }}"
                                {% else %}
                                    src="{{ 'images/projets/empty.jpg' | imagine_filter('thumb') }}"
                                {% endif %} alt="No thumbnail" style="width: 100%;height: auto">
                            </div>
                        </figure>

                        <div class="middle">
                            <div class="text"><i class="fas fa-download"></i></div>
                        </div>
                    </a>

                    <div class="info" style="background: #2c2c2c;padding: 0 10px;min-height: 41px;border-bottom: 2px dotted #fff;">

                        <div class="row"
                             style=" display: flex;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;">

                            <div class="col-12" style="flex: 0 0 100%;max-width: 100%;">

                                <div class="info__content" style="display: flex;align-items: center;width: 100%;">

                                    <h1 style="font-size: 1rem; margin-top: 0; padding-top: 0; margin-bottom: 0;text-transform: uppercase;flex-grow: 1;">
                                        <a id='title'
                                           href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}">{{ projet.title }}</a>
                                    </h1>
                                    <div class="info__content__buttons" style="align-self: flex-end;">
                                        {% for tag in projet.tags %}
                                            <div class="style"
                                                 style="padding-left: 10px;line-height: 41px;display: inline-block;vertical-align: top;max-width: none!important;color:{% if tag.id == 1 %}red{% endif %}{% if tag.id == 2 %}orange{% endif %}{% if tag.id == 3 %}#8ee800{% endif %}">
                                                <div>{{ tag.name }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info infos_bis" style="background: #2c2c2c;padding: 0 10px;min-height: 41px;">

                        <div class="row" style=" display: flex;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;">

                            <div class="col-12" style="flex: 0 0 100%;max-width: 100%;">

                                <div class="info__content" style="display: flex;align-items: center;width: 100%;">


                                    <h1 style="font-size: 1rem; margin-top: 0; padding-top: 0; margin-bottom: 0;flex-grow: 1;">
                                        {{ projet.views }} <i class="far fa-eye"></i>

                                    </h1>
                                    <div class="info__content__buttons" style="align-self: flex-end;">
                                        <div class="style"
                                             style="padding-left: 10px;color: #eee;line-height: 41px;display: inline-block;vertical-align: top;max-width: none!important;">

                                            {{ projet.createdAt | date('Y') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('home') }}" class="btn btn__custom f_size">
                ← {% trans %}Retour{% endtrans %}  </a>
        </div>
    </div>
</div>
{% endblock %}
