

<!--{% if projets | length == 0 %}
    <div class="container mt-4" style="min-height: 320px">{% trans %}Aucun resultat :( {% endtrans %}</div>
{% endif %} -->

{% for projet in projets %}
    <article class="mix col-12 col-md-6 col-lg-4 col-xl-4 article">

        <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
           title="More details">

            <figure class="d-block figure">

                <img class="image w-100 h-auto" {% if projet.filename %} src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('thumb') }}"
                {% else %} src="{{ 'images/projets/empty.jpg' | imagine_filter('thumb') }}"
                {% endif %} alt="No thumbnail">

                <div class="middle">
                    <i class="far fa-play-circle text"></i>
                </div>

            </figure>

        </a>



        <div class="info infos divider">

            <div class="row flex-wrap m15">

                <div class="col-12 mw-100 info_flex">

                    <div class="info__content d-flex align-items-center w-100">

                        <h1 class="mt-0 pt-0 mb-0 text-uppercase flex-grow-1" style="font-size: 1rem">
                            <a id='title' href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}">{{ projet.title }}</a>
                        </h1>
                        <div class="info__content__buttons align-self-end">
                            {% for tag in projet.tags %}
                                <div class="tag" style="color:{% if tag.id == 1 %}red{% endif %}{% if tag.id == 2 %}orange{% endif %}{% if tag.id == 3 %}#8ee800{% endif %}">
                                    <div>{{ tag.name }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info infos">

            <div class="row flex-wrap m15">

                <div class="col-12 info_flex mw-100">

                    <div class="info__content d-flex align-items-center w-100">

                        {% set difference = date(projet.createdAt|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
                        {% set leftDays = difference.days %}

                        <h1 class="mt-0 pt-0 mb-0 flex-grow-1" style="font-size: 1rem">

                            {% if app.request.locale in ['fr','fr_BE','fr_BJ','fr_BF','fr_BI','fr_CM','fr_CA','fr_CF','fr_TD','fr_KM',
                                'fr_CG', 'fr_CD','fr_CI','fr_DJ','fr_GQ','fr_FR','fr_GA','fr_GP','fr_GN','fr_LU','fr_MG','fr_ML','fr_MQ',
                                'fr_MC','fr_NE','fr_RW','fr_RE','fr_BL','fr_MF','fr_SN','fr_CH','fr_TG'] %}
                                Il y a {{ leftDays }} jours {% else %}
                                {{ leftDays }} days ago {% endif %}

                        </h1>
                        <div class="info__content__buttons align-self-end">
                            <div class="tag_bis">
                                {{ projet.views }} <i class="far fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endfor %}

