{% extends 'base.html.twig' %}

{% block title %} Jumperpich | {{ projet.title }}{% endblock %}

{% block OG %}
    <!-- Open Graph meta -->
    <meta property="og:url" content="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ projet.title }}"/>
    <meta property="og:description"
          content="{% trans %}Télécharge GRATUITEMENT ce mix !{% endtrans %}"/>
    <meta property="og:image"
          content="{{ vich_uploader_asset(projet, 'imageFile') }}"/>
{% endblock %}

{% block body %}

    <style>

        .musicplayer.open {
            height: 120px;
            border-top: 1px solid #eee;
        }

        .musicplayer {
            height: 0;
            background-color: #25292c;
            transition: height .5s ease;
        }

        .fixed-bottom {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1030;
        }

        .musicplayer .flexy {
            display: flex;
            width: 100%;
        }

        .musicplayer iframe {
            height: 120px;
        }

        iframe {
            width: 100%;
        }

        .musicplayer .link {
            height: 120px;
            line-height: 120px;
            margin: 0 20px 20px;
            color: #eee;
        }

        .musicplayer.open .closeBtn {
            height: 41px;
            top: -41px;
            opacity: 1;
        }

        .musicplayer .closeBtn {
            border: 1px solid #eee;
            border-bottom: none;
            position: absolute;
            right: 20px;
            width: 41px;
            height: 0;
            text-align: center;
            background-color: #25292c;
            color: #fff;
            display: block;
            line-height: 41px;
            transition: all .5s ease;
            overflow: hidden;
        }



        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

        .btn-default:hover {
            color: #333;
            background-color: #E6E6E6;
            border-color: #ccc;
        }

        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            font-size: 1.5em;
            border-radius: 4px;
            user-select: none;
        }

    </style>

    <div class="container-fluid" style="padding-top: 83px">

        {% for message in app.flashes('report') %}
            <div class="fixed-top alert alert-warning alert-dismissible fade show col-md-4 col-md-offset-4"
                 align="center" role="alert">
                <strong>Warning !</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <div id="loading">
            <img src="http://www.jaystyle.fr/wp-content/themes/jaystyle/images/loader.gif" alt="Website Loader">
        </div>

        <div class="container my-4 text-center">
            <div class="Blog-meta my-4" style="font-weight: 600;font-style: normal;letter-spacing: .03em;text-transform: uppercase;color:rgba(189,189,189,.64);">
                {{ projet.createdAt | date('d/m/Y') }} - {% for tag in projet.tags %}{{ tag.name }}{% endfor %}
            </div>

            <h6><abbr>{{ projet.title }}</abbr></h6>

            <div class="Blog-Image row" id="{{ projet.filename }}">
                {% if projet.filename %}
                    <img src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('medium') }}"
                         alt="{{ projet.title }}"
                         class="mx-auto d-block" style="width: 50vh; height: auto;">
                {% else %}
                    <img src="{{ 'images/projets/empty.jpg' | imagine_filter('medium') }}" alt="{{ projet.title }}"
                         class="mx-auto d-block" style="width: 50vh; height: auto;">
                {% endif %}
            </div>

            <div class="container" id="play__button">

                <div class="row justify-content-center">
                    <div class="p-2">
                        <div id="openplayer">
                            <div class="btn btn__custom" role="button">
                                <i class="fa fa-play"></i>
                                <span>Play</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container my-4 py-4" id="tracklist">

                <h6><abbr>Tracklist</abbr></h6>

                <div class="BlogItem-tracklist text-center" style="color:#242424;">
                    {{ projet.description | nl2br }}
                </div>

            </div>

            <div class="container my-4 pt-4" id="download">

                <h6><abbr>Download</abbr></h6>

                <div class="caption mx-4 py-4">

                    {% if projet.mp3filename %}
                        <a class="btn btn-default" role="button" target="_blank"
                           href="{{ path('downloadcount', {'mp3filename' : projet.mp3filename}) }}">
                            <img alt="Télécharger" src="{{ 'pictures/Download-icon.png' | imagine_filter('medium') }}"
                                 style="display: block;max-width: 100%;height: auto;margin-right: auto;margin-left: auto;">
                            Télécharger
                            <small> ({{ projet.filesize }} Mo)</small>
                        </a>
                    {% else %}
                        <div class="text-center">
                            {% trans %}Téléchargement indisponible{% endtrans %}...
                        </div>
                    {% endif %}

                </div>


            </div>

            {% if projet.soundcloud is not null or projet.ytblink is not null %}
                <div class="container my-4 py-4">

                    <h6><abbr>STREAM</abbr></h6>

                    <div class="row justify-content-center">

                        {% if projet.soundcloud %}
                            <div class="p-2 mx-auto">
                                <a href="{{ projet.soundcloud }}" target="_blank" rel="noopener">
                                    <i class="fab fa-soundcloud"></i>
                                </a>
                            </div>
                        {% elseif projet.ytblink %}
                            <div class="p-2 mx-auto">
                                <a href="{{ projet.ytblink }}" target="_blank" rel="noopener">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>

                        {% endif %}
                    </div>

                    {% if projet.mixcloud %}

                        <app-musicplayer class="">
                            <div class="musicplayer fixed-bottom" id="player">
                                <div class="flexy">
                                    <!---->
                                    {{ projet.mixcloud | raw }}
                                    <!---->
                                    <a class="link" download="" target="_blank" title="Download"
                                       href="{{ path('downloadcount', {'mp3filename' : projet.mp3filename}) }}">
                                        <i class="fas fa-download"></i></a></div>
                                <a id="closePlayer" class="closeBtn" href="#" title="Close music player">
                                    <i class="fas fa-times"></i></a></div>

                        </app-musicplayer>

                    {% endif %}

                </div>
            {% endif %}

            <div class="container my-4 py-4 text-center" id="share">

                <h6><abbr>SHARE</abbr></h6>

                <div class="my-4 pt-4">

                    <div class="social-media-buttons" style="text-align: center;">

                        <div class="logo-social"><a
                                    href="https://www.facebook.com/dialog/share?app_id=377287179598756&display=popup&href=https://www.jumperpich.com{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                                    target="blank"><img
                                        src="http://jaystyle.fr/wp-content/themes/jaystyle/images/facebook.jpg"
                                        style="width:87%" alt="Facebook"></a></div>

                        <div class="logo-social"><a
                                    href="https://twitter.com/share?url=https://www.jumperpich.com{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                                    target="blank"><img
                                        src="http://jaystyle.fr/wp-content/themes/jaystyle/images/twitter.jpg"
                                        style="width:87%" alt="Twitter"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        {% if projet.mixcloud %}

        $('#closePlayer').click(function () {
            document.getElementById('player').classList.remove("open");
        });

        $('#openplayer').click(function () {
            document.getElementById('player').classList.add("open");
        });

        {% endif %}

    </script>


{% endblock %}