{% extends 'base.html.twig' %}

{% block body %}


    <div class="container-fluid">

        <div id="loading">
            <img src="{{ asset('pictures/loader.gif') }}" alt="Website Loader">
        </div>


        <div class="container main">


            <!-- Vertical navbar -->
            {{ include('vertical_nav.html.twig') }}
            <!-- End vertical navbar -->
            <!-- Page content holder -->

            <div class="page-content p-5 " id="content">

                <h6 class="text-center "><abbr>Suppression de Compte</abbr></h6>


                <div class="container mt-4 pt-4 pb-4 text-dark shadow rounded">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="alert alert-danger" role="alert">
                        <strong>ATTENTION!</strong> Toute suppression est definitive ! Etes vous vraiment certains de
                        vouloir supprimer votre compte ?
                    </div>
                    <button class="btn btn__custom"
                            onclick="return confirm('Attention dernier avertissement ! Voulez vous vraiment supprimer votre compte ?')">
                        Supprimer
                    </button>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}