{% extends '@EasyAdmin/default/layout.html.twig' %}

{% set _content_title = 'Jumperpich | Password ' %}

{% block page_title -%}
    {{ _content_title }}
{%- endblock %}

{% block content_header %}
    <h1 class="title">Changement de mot de passe</h1>
{% endblock %}

{% block main %}

    <style>
        .form-group label {
            text-align: left !important;
        }

        .form-control {
            width: 50%;
        }
    </style>

    {% for message in app.flashes('success') %}
        <div class="text-center fixed-bottom alert alert-success alert-dismissible fade show" role="alert">
            <strong>Succès !</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="text-center fixed-bottom alert alert-success alert-dismissible fade show" role="alert">
            <strong>Erreur !</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}



    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn__custom">Modifier</button>
    </div>
    {{ form_end(form) }}


{% endblock %}