{% extends 'base.html.twig' %}

{% block title %}Jumperpich | Messages   {% endblock %}

{% block body %}


    <div class="container-fluid pt-4">

        <div id="loading">
            <img src="{{ asset('pictures/loader.gif') }}" alt="Website Loader">
        </div>

        {% for message in app.flashes('success') %}
            <div class="text-center fixed-bottom alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès !</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}


        <div class="container main">

            <!-- Vertical navbar -->
            {{ include('vertical_nav.html.twig') }}
            <!-- End vertical navbar -->
            <!-- Page content holder -->

            <div class="page-content p-5 text-center text-dark" id="content">

                {% if contacts is  empty %}
                    <h6><abbr>Aucun message inbox</abbr></h6>
                {% endif %}

                {% if contacts is not empty %}

                <h6><abbr>Messages</abbr></h6>
                <div class="mt-4">
                    <table class="text-center">
                        <thead>
                        <tr>
                            <th>Objet</th>
                            <th><i class="far fa-calendar-alt"></i></th>
                            <th><i class="fas fa-at"></i></th>
                            <th><i class="far fa-id-card"></i></th>
                            <th><i class="far fa-comments"></i></th>
                            <th><i class="fas fa-wrench"></i></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for contact in contacts %}

                            <!-- Modal -->
                            <div id="myModal_{{ contact.id }}" class="modal fade main text-white" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <!-- Modal content-->
                                    <div class="modal-content text-center" style="background: black;">
                                        <h4 class="modal-title">{{ contact.name }}</h4>
                                        <div class="modal-body" style="word-wrap: break-word;">
                                            <p>{{ contact.message }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                &times;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <tr>

                                <td><span>Objet</span>
                                    {{ contact.subject }}
                                </td>

                                <td><span><i class="far fa-calendar-alt"></i></span>
                                    {{ contact.createdAt | date('d/m/Y H:i') }}
                                </td>
                                <td><span><i class="fas fa-at"></i></span>
                                    {{ contact.email }}
                                </td>
                                <td><span><i class="far fa-id-card"></i></span>
                                    {{ contact.name }}
                                </td>

                                <td><span><i class=" far fa-comments"></i></span>
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                            data-target="#myModal_{{ contact.id }}">Voir
                                    </button>
                                </td>

                                <td><span><i class="fas fa-wrench"></i></span>
                                    <form method="post"
                                          action="{{ path('admin.message.delete', {id: contact.id}) }}"
                                          style="display: inline-block"
                                          onsubmit="return confirm('Toute suppression est définitive ! Êtes-vous sûr de vouloir supprimer ce Message ? ')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('authenticate') }}">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            {% endif %}

        </div>
    </div>

{% endblock %}